

.container {
    width: 100%;
    margin: auto
}

/* CLASSI HEADER */
header {
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    background-repeat: repeat;    
}

#logo1 {
    width: 200px;
    height: 100px;
}
/* FINE CLASSI HEADER */

/*CLASSI MAIN*/
.blue-text{
    color: rgb(0, 115, 255);
}

.date {
    font-size: small;
}

.pic-cap {
    font-size: small;
}

.highlight {
    background-color: yellow;
}

#tab-head{
    background-color:  rgb(0, 145, 255);
    color: white;
}

.even-row {
    background-color: aqua;
}
/* FINE CLASSI MAIN */

/* FOOTER */
#ad-text {
    color: gray
}

#ad1 {
    background-image: url(../img/graph.jpg);
    width: 100px;
    height: 100px;
}

#ad2 {
    background-image: url(../img/monitor.jpg);
    width: 100px;
    height: 100px;
}
